.bandeau{
    text-align:center; 
    background-color: black; 
    color: aliceblue;
}

.style_link{
    text-decoration: none;
    color:aliceblue;
}


.cadre {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 2px solid #848584;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: white;
}

.card:hover {
    transform: scale(1.05); 
}

.container-photo {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
}

.bold-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    color: black;
}

.description {
    font-size: 0.9em;
    color: #000000;
    margin-top: 5px;
}

h1{

    color:black,
}


